---
useCases:
  easytravel:
    previews:
    - section: Easytravel Classic
      description: Easytravel Classic
      url: "{{ ingress_protocol }}://easytravel.{{ ingress_domain }}"
    - section: Easytravel Angular
      description: Easytravel Angular
      url: "{{ ingress_protocol }}://easytravel-angular.{{ ingress_domain }}"
